{:source-paths ["src"]
 :dependencies [[fulcrologic/fulcro "2.8.4"]
                [fulcrologic/fulcro-incubator "0.0.30"]
                [fulcrologic/fulcro-inspect "2.2.5"]
                [thheller/shadow-cljs "2.8.15"]
                [binaryage/devtools "0.9.10"]]
 :builds       {:app {:target     :browser
                      :output-dir "resources/public/js"
                      :asset-path "/js"
                      :modules    {:main {:entries [repro.core]}}
                      :devtools   {:preloads   [fulcro.inspect.preload]
                                   :after-load repro.core/start}}}
 :dev-http     {8000 "resources/public"}}
